.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin: 0 0 0 350px;
    padding: 33px 50px;

    transition: all 0.5s;
}

/* .header > * {
    display: inline-block;
    vertical-align: middle;
} */

.header h1 {
    margin: 0 45px 0 0;

    color: #2C2C2C;
}

.header button {
    position: relative;
    padding: 6px 8px;
    margin: 0 18px 0 0;

    border: none;
    border-top: 2px solid #26bcb3;
    border-bottom: 2px solid #26bcb3;

    background: none;
    cursor: pointer;
    outline: none;
}
.header button:after {
    content: '';
    display: block;
    width: 9px;

    position: absolute;
    left: 0;
    top: calc( 50% - 1px );

    border-top: 1px solid #26bcb3;
    border-bottom: 1px solid #26bcb3;

    transition: all 0.5s;
}
.header button:hover:after {
    left: 7px;
}

.dashboard-options {
    display: inline-flex;
    /* flex-wrap: wrap; */
    padding: 0 20px;

    border: 1px solid #CAD5DA;
    border-radius: 5px;
}
.dashboard-options li a {
    display: block;
    padding: 5px 20px;

    position: relative;
}
.dashboard-options li a span {
    position: relative;
    z-index: 2;
    white-space: nowrap;
}
.dashboard-options li a:hover,
.dashboard-options li a.active-option {
    color: #fff;
    opacity: 1;
}
.dashboard-options li a:hover:after,
.dashboard-options li a.active-option:after {
    content: '';
    display: block;
    
    background: linear-gradient(to bottom,  #03effe 0%,#4facfe 100%);
    border-radius: 5px;

    position: absolute;
    top: -4px;
    bottom: -4px;
    right: -4px;
    left: -4px;
    z-index: 1;
}
