@font-face {
    font-family: 'icomoon';
    src:
      url('../fonts/icomoon.ttf?lrqs7i') format('truetype'),
      url('../fonts/icomoon.woff?lrqs7i') format('woff'),
      url('../fonts/icomoon.svg?lrqs7i#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-download:before {
    content: "\e900";
  }
  .icon-flag:before {
    content: "\e901";
  }
  .icon-community:before {
    content: "\e902";
  }
  .icon-facebook:before {
    content: "\e903";
  }
  .icon-search:before {
    content: "\e904";
  }
  .icon-settings:before {
    content: "\e905";
  }
  .icon-twitter:before {
    content: "\e906";
  }
  .icon-user:before {
    content: "\e907";
  }
  .icon-youtube:before {
    content: "\e908";
  }
  .icon-share:before {
    content: "\e909";
  }
  .icon-broken-link:before {
    content: "\e910";
  }
