.main {
    margin: 0 0 0 350px;
    padding: 0 25px;

    color: #7B8180;

    transition: all 0.5s;
}

/* _____ CONTENT styles _____ */
.dashboard-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 0 35px 0;
    padding: 0 30px;
}
.infoblock {
    /* width: 25%; */
    /* min-width: 330px;*/
    // flex: 1 1 310px; 
    width: 25%;

    padding: 5px 15px 5px 30px;
    margin: 15px 0;

    border-left: 1px solid #CAD5DA;
}
.infoblock-custom {
    display: flex;
    align-items: center;
}
.infoblock-custom span {
    font-size: 20px;
    font-weight: bold;
}
.infoblock-number {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 100px;
    line-height: 1;
}
.infoblock:nth-child(1n) .infoblock-number,
.infoblock:nth-child(1n) i,
.infoblock:nth-child(1n) .infoblock-custom span {
    color: #34FFF3;
}
.infoblock:nth-child(2n) .infoblock-number,
.infoblock:nth-child(2n) i,
.infoblock:nth-child(2n) .infoblock-custom span {
    color: #5CE5DD;
}
.infoblock:nth-child(3n) .infoblock-number,
.infoblock:nth-child(3n) i,
.infoblock:nth-child(3n) .infoblock-custom span {
    color: #37D3CA;
}
.infoblock:nth-child(4n) .infoblock-number,
.infoblock:nth-child(4n) i,
.infoblock:nth-child(4n) .infoblock-custom span {
    color: #26BCB3;
}
.infoblock-title {
    color: #2C2C2C;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
}
.infoblock-title img {
    margin: 0 8px 0 0;
    vertical-align: middle;

}

/* ____ ADDITIONAL sections styles _____*/
.dashboard-additional {
    display: flex;
    flex-wrap: wrap;
}
.dashboard-additional h2 {
    color: #2C2C2C;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    margin: 30px 0;
}
.additional-block {
    flex-basis: 45%;
    margin: 0 25px;
    padding: 0 30px 30px;

    height: 510px;

    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1);
}
.img-holder {
    text-align: center;
}
.additional-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.healthcare-content {
    display: flex;
    justify-content: space-between;
}
.healthcare .img-holder {
    /* width: 328px; */
    flex-basis: 48%;
    text-align: center;
}
.healthcare-info {
    flex-basis: 48%;

    overflow-y: auto;
}
.healthcare-info h3 {
    color: #2C2C2C;
}
.healthcare-info ul {
    overflow-y: auto;
    max-height: 345px;
}
.healthcare-info ul li {
    margin: 0 0 15px;
}
.healthcare-info ul li::before {
        content: '';  
        
        display: inline-block;
        vertical-align: middle;
        width: 3px;
        height: 3px;
        margin: 0 8px 0 -8px;

        border: 1px solid #04969d;
        border-radius: 50%;
        background: #03d4e0;
      }
.graph-options {
    padding: 0;
}