@media only screen and (max-width: 1731px) {
    .infoblock {
        width: 50%;
    }
}

@media only screen and (max-width: 1500px) {
    .additional-block {
        flex-basis: 100%;
        margin: 0 25px 50px;
    }
}

@media only screen and (max-width: 1199px) {
    .sidebar {
        width: 320px;
    }
    .footer,
    .header,
    .main {
        margin: 0 0 0 320px;
    }
    .main {
        padding: 0 15px;
    }
    .dashboard-info {
        padding: 0 15px;
    }
    .header {
        padding: 20px 30px;
    }
    .infoblock {
        padding: 5px 10px 5px 15px;
    }
    .infoblock-number {
        font-size: 85px;
    }
    .infoblock-title {
        font-size: 18px;
    }
    .additional-block {
        margin: 0 15px 25px;
    }
}

@media only screen and (max-width: 991px) {
    .sidebar {
        left: 0;
        right: 0;
        bottom: unset;
        z-index: 3;

        width: 100%;
    }
    .sidebar .user-link,
    .sidebar nav,
    .sidebar .sidebar-footer {
        display: none;
    }
    .header,
    .main,
    .footer {
        margin: 0;
    }
    .header {
        margin: 110px 0 0 0;
        padding: 18px 30px;
    }

    .header button {
        position: fixed;
        top: 45px;
        left: 30px;
        z-index: 4;

        padding: 7px 12px;

        border-color: #fff;
    }
    .header button:after {
        width: 13px;

        border-color: #fff;
    }
    .infoblock-number {
        font-size: 80px;
    }
    .infoblock-title {
        font-size: 16px;
    }
    .infoblock-custom ul {
        font-size: 14px;
    }
    .infoblock-custom span {
        font-size: 18px;
    }

}

@media only screen and (max-width: 575px) {
    .sidebar {
        left: 0;
        right: 0;
        bottom: unset;
        z-index: 3;

        width: 100%;
    }
    .sidebar .user-link,
    .sidebar nav,
    .sidebar .sidebar-footer {
        display: none;
    }
    .sidebar-header {
        line-height: 0;
        padding: 10px;
    }
    .logo img {
        height: 30px;
    }
    
    .header,
    .main,
    .footer {
        margin: 0;
    }
    .header {
        margin: 50px 0 0 0;
        padding: 18px 0;
    }
    .header h1 {
        margin: 0 0 18px 15px;
        font-size: 24px;
    }
    .header button {
        position: fixed;
        top: 16px;
        left: 30px;
        z-index: 4;

        padding: 7px 12px;

        border-color: #fff;
    }
    .header button:after {
        width: 13px;

        border-color: #fff;
    }
    .dashboard-options {
        font-size: 10px;

        border-radius: 0;
        border-left: none;
        border-right: none;
    }
    .header .dashboard-options {
        justify-content: space-around;
        padding: 0;
        width: 100%;
    }
    .dashboard-options li a {
        padding: 5px 14px;
    }

    .main {
        padding: 0 15px;
    }
    .dashboard-info {
        padding: 0;
        margin: 0 0 10px 0;
    }
    .infoblock {
        margin: 0;
        padding: 0;
        border: none;

        min-width: unset;
        // flex: 1 1 115px;
    }
    .infoblock-number {
        font-size: 56px;
        margin: 0;
    }
    .infoblock-title {
        font-size: 11px;
    }
    .infoblock li,
    .infoblock li span {
        font-size: 10px;
    }
    .infoblock-custom ul li span {
        display: block;
    }

    .additional-block {
        flex-basis: 100%;

        height: unset;
        margin: 0 0 15px 0;
        padding: 0 18px 20px;
    }
    .dashboard-additional h2 {
        margin: 25px 0;
        font-size: 16px;
    }
    .healthcare-content {
        flex-direction: column;
    }
    .healthcare-info {
        font-size: 15px;
    }
    .healthcare-info h3 {
        font-size: 16px;
    }
    .additional-header {
        flex-direction: column;
        align-items: flex-start;
    }
    .graph-options {
        margin: 0 0 30px -20px;
    }

    .footer {
        text-align: center;
    }
    .copyright {
        display: block;
    }

}