.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    text-align: center;
    color: #9FBCBA;
    font-size: 15px;

    background: linear-gradient(to bottom,  #489e98 0%,#276763 48%,#276763 48%,#012724 100%);

    transition: all 0.5s;
}
.sidebar-header {
    padding: 28px;

    font-size: 40px;
    text-transform: uppercase;
}
.sidebar-header .logo {
    display: inline-block;
    vertical-align: middle;
}
.sidebar-header .logo-min {
    display: none;
}

.user-link {
    display: block;
    padding: 20px 0;
    margin: 0 0 100px;
}
.sidebar-user .img-holder {
    width: 80px;
    height: 80px;
    margin: 0 auto 15px;
    
    position: relative;

    border-radius: 50%;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
}
.sidebar-user  .settings-wrap {
    background: linear-gradient(to bottom,  #03effe 0%,#009ec3 100%,#4facfe 100%);
    border-radius: 50%;

    position: absolute;
    right: 0;
    bottom: 0;
}

.sidebar-user .settings-wrap span {
    display: block;
    padding: 6px;

    color: #fff;
    font-size: 13px;
    line-height: 1;
}

.sidebar-user p {
    font-size: 15px;
    font-weight: bold;
    color: #fff;

    margin: 0;
    padding: 0 15px;
}

.sidebar-nav {
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
}
.sidebar-nav li img {
    margin: 0 30px 0 0;
    width: 25px;
}
.active-icon {
    display: none;
}
.sidebar-nav li {
    margin: 10px 0;
}
.sidebar-nav li a {
    display: flex;
    padding: 15px 0 15px 50px;
}
.sidebar-nav li a.active .active-icon,
.sidebar-nav li a:hover .active-icon {
    display: inline;
}
.sidebar-nav li a.active .notactive-icon,
.sidebar-nav li a:hover .notactive-icon {
    display: none;
}
.sidebar-nav li a.active,
.sidebar-nav li a:hover,
.user-link:hover {
    /* border-right: 8px solid;
    border-image: linear-gradient(to bottom, #03effe 0%, #4facfe 100%) 1; */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 80%,rgba(255,255,255,0.25) 100%);
    position: relative;
}
.sidebar-nav li a.active:after,
.sidebar-nav li a:hover:after,
.user-link:hover:after {
    content: '';
    display: block;
    width: 8px;
    
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    background: linear-gradient(to bottom, #03effe 0%, #4facfe 100%);
}

.sidebar-footer {
    text-transform: uppercase;
    font-weight: bold;
}
.sidebar-social {
    margin: 0 0 40px;
    padding: 0 15px;
}
.sidebar-social li {
    display: inline-block;
    vertical-align: middle;

    margin: 0 20px 0 0;
}
.sidebar-social li:last-child {
    margin: 0;
}
.sidebar-social a {
    font-size: 0;

}
.sidebar-social a i {
    font-size: 30px;
    opacity: 0.5;
}
.logout {
    display: block;
    padding: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.sidebar-mini .sidebar {
    width: 100px;
}
.sidebar-mini .sidebar-user p,
.sidebar-mini .sidebar-nav li a span,
.sidebar-mini .logo {
    display: none;
}
.sidebar-mini .logo-min {
    display: block;
}
.sidebar-mini .sidebar-user .img-holder {
    width: 45px;
    height: 45px;
}
.sidebar-mini .sidebar-user .settings-wrap span {
    padding: 4px 3px 3px 4px;
    font-size: 8px;
}

.sidebar-mini .sidebar-nav li a {
    padding: 15px;
    justify-content: center;
}

.sidebar-mini .sidebar-social,
.sidebar-mini .sidebar-nav li img {
    margin: 0;
}
.sidebar-mini .sidebar-social li {
    display: block;
    margin: 0 0 20px;
}
.sidebar-mini .header,
.sidebar-mini .footer,
.sidebar-mini .main {
    margin: 0 0 0 100px;
}
.sidebar-mini .header button:after {
    left: 7px;
}
.sidebar-mini .header button:hover:after {
    left: 0;
}
