@font-face {
    font-family: 'icomoon';
    src:
      url('../fonts/icomoon.ttf?lrqs7i') format('truetype'),
      url('../fonts/icomoon.woff?lrqs7i') format('woff'),
      url('../fonts/icomoon.svg?lrqs7i#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-download:before {
    content: "\e900";
  }
  .icon-flag:before {
    content: "\e901";
  }
  .icon-community:before {
    content: "\e902";
  }
  .icon-facebook:before {
    content: "\e903";
  }
  .icon-search:before {
    content: "\e904";
  }
  .icon-settings:before {
    content: "\e905";
  }
  .icon-twitter:before {
    content: "\e906";
  }
  .icon-user:before {
    content: "\e907";
  }
  .icon-youtube:before {
    content: "\e908";
  }
  .icon-share:before {
    content: "\e909";
  }
  .icon-broken-link:before {
    content: "\e910";
  }

/* _____ RESET styles _____ */
input[type="text"],
input[type="file"],
input[type="password"],
input[type="submit"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea {
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	border-radius:0;
}
input[type="email"] {
	box-shadow: none;
	-webkit-box-shadow:none;
}
input[type="image"] {padding: 0; border: none;}
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
	border:0;
	padding:0;
}
input[type="submit"]:focus,
input[type="button"]:focus {outline:none;}

html, body {
    height: 100%;
}

body {
	margin: 0;
	color: #555050;
	font: 16px/1.25 'Raleway', Arial, sans-serif;
	background: #fff;

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
	-webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	opacity: 0.75;
}

p {
	margin: 0 0 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

.wrapper {
    width: 100%;
    height: 100%;
	/* overflow: hidden; */
	position: relative;
}

/*  to fix footer to the page bottom if not enough content  */

.wrapper {
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0  auto;
}

/* _____ HEADER section styles _____ */
.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin: 0 0 0 350px;
    padding: 33px 50px;

    transition: all 0.5s;
}

/* .header > * {
    display: inline-block;
    vertical-align: middle;
} */

.header h1 {
    margin: 0 45px 0 0;

    color: #2C2C2C;
}

.header button {
    position: relative;
    padding: 6px 8px;
    margin: 0 18px 0 0;

    border: none;
    border-top: 2px solid #26bcb3;
    border-bottom: 2px solid #26bcb3;

    background: none;
    cursor: pointer;
    outline: none;
}
.header button:after {
    content: '';
    display: block;
    width: 9px;

    position: absolute;
    left: 0;
    top: calc( 50% - 1px );

    border-top: 1px solid #26bcb3;
    border-bottom: 1px solid #26bcb3;

    transition: all 0.5s;
}
.header button:hover:after {
    left: 7px;
}

.dashboard-options {
    display: inline-flex;
    /* flex-wrap: wrap; */
    padding: 0 20px;

    border: 1px solid #CAD5DA;
    border-radius: 5px;
}
.dashboard-options li a {
    display: block;
    padding: 5px 20px;

    position: relative;
}
.dashboard-options li a span {
    position: relative;
    z-index: 2;
    white-space: nowrap;
}
.dashboard-options li a:hover,
.dashboard-options li a.active-option {
    color: #fff;
    opacity: 1;
}
.dashboard-options li a:hover:after,
.dashboard-options li a.active-option:after {
    content: '';
    display: block;
    
    background: linear-gradient(to bottom,  #03effe 0%,#4facfe 100%);
    border-radius: 5px;

    position: absolute;
    top: -4px;
    bottom: -4px;
    right: -4px;
    left: -4px;
    z-index: 1;
}

/* _____ MAIN section styles _____ */
.main {
    margin: 0 0 0 350px;
    padding: 0 25px;

    color: #7B8180;

    transition: all 0.5s;
}

/* _____ SIDEBAR styles _____ */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    text-align: center;
    color: #9FBCBA;
    font-size: 15px;

    background: linear-gradient(to bottom,  #489e98 0%,#276763 48%,#276763 48%,#012724 100%);

    transition: all 0.5s;
}
.sidebar-header {
    padding: 28px;

    font-size: 40px;
    text-transform: uppercase;
}
.sidebar-header .logo {
    display: inline-block;
    vertical-align: middle;
}
.sidebar-header .logo-min {
    display: none;
}

.user-link {
    display: block;
    padding: 20px 0;
    margin: 0 0 100px;
}
.sidebar-user .img-holder {
    width: 80px;
    height: 80px;
    margin: 0 auto 15px;
    
    position: relative;

    border-radius: 50%;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
}
.sidebar-user  .settings-wrap {
    background: linear-gradient(to bottom,  #03effe 0%,#009ec3 100%,#4facfe 100%);
    border-radius: 50%;

    position: absolute;
    right: 0;
    bottom: 0;
}

.sidebar-user .settings-wrap span {
    display: block;
    padding: 6px;

    color: #fff;
    font-size: 13px;
    line-height: 1;
}

.sidebar-user p {
    font-size: 15px;
    font-weight: bold;
    color: #fff;

    margin: 0;
    padding: 0 15px;
}

.sidebar-nav {
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
}
.sidebar-nav li img {
    margin: 0 30px 0 0;
    width: 25px;
}
.active-icon {
    display: none;
}
.sidebar-nav li {
    margin: 10px 0;
}
.sidebar-nav li a {
    display: flex;
    padding: 15px 0 15px 50px;
}
.sidebar-nav li a.active .active-icon,
.sidebar-nav li a:hover .active-icon {
    display: inline;
}
.sidebar-nav li a.active .notactive-icon,
.sidebar-nav li a:hover .notactive-icon {
    display: none;
}
.sidebar-nav li a.active,
.sidebar-nav li a:hover,
.user-link:hover {
    /* border-right: 8px solid;
    border-image: linear-gradient(to bottom, #03effe 0%, #4facfe 100%) 1; */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 80%,rgba(255,255,255,0.25) 100%);
    position: relative;
}
.sidebar-nav li a.active:after,
.sidebar-nav li a:hover:after,
.user-link:hover:after {
    content: '';
    display: block;
    width: 8px;
    
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    background: linear-gradient(to bottom, #03effe 0%, #4facfe 100%);
}

.sidebar-footer {
    text-transform: uppercase;
    font-weight: bold;
}
.sidebar-social {
    margin: 0 0 40px;
    padding: 0 15px;
}
.sidebar-social li {
    display: inline-block;
    vertical-align: middle;

    margin: 0 20px 0 0;
}
.sidebar-social li:last-child {
    margin: 0;
}
.sidebar-social a {
    font-size: 0;

}
.sidebar-social a i {
    font-size: 30px;
    opacity: 0.5;
}
.logout {
    display: block;
    padding: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.sidebar-mini .sidebar {
    width: 100px;
}
.sidebar-mini .sidebar-user p,
.sidebar-mini .sidebar-nav li a span,
.sidebar-mini .logo {
    display: none;
}
.sidebar-mini .logo-min {
    display: block;
}
.sidebar-mini .sidebar-user .img-holder {
    width: 45px;
    height: 45px;
}
.sidebar-mini .sidebar-user .settings-wrap span {
    padding: 4px 3px 3px 4px;
    font-size: 8px;
}

.sidebar-mini .sidebar-nav li a {
    padding: 15px;
    justify-content: center;
}

.sidebar-mini .sidebar-social,
.sidebar-mini .sidebar-nav li img {
    margin: 0;
}
.sidebar-mini .sidebar-social li {
    display: block;
    margin: 0 0 20px;
}
.sidebar-mini .header,
.sidebar-mini .footer,
.sidebar-mini .main {
    margin: 0 0 0 100px;
}
.sidebar-mini .header button:after {
    left: 7px;
}
.sidebar-mini .header button:hover:after {
    left: 0;
}

/* _____ CONTENT styles _____ */
.dashboard-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 0 50px 0;
}
.infoblock {
    /* width: 25%; */
    /* min-width: 330px;
    flex: 1 1 330px; */

    padding: 5px 15px 5px 30px;
    margin: 15px 25px;

    border-left: 1px solid #CAD5DA;
}
.infoblock-custom {
    display: flex;
    align-items: center;
}
.infoblock-custom span {
    font-size: 20px;
    font-weight: bold;
}
.infoblock-number {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 100px;
    line-height: 1;
}
.infoblock:nth-child(1n) .infoblock-number,
.infoblock:nth-child(1n) i,
.infoblock:nth-child(1n) .infoblock-custom span {
    color: #34FFF3;
}
.infoblock:nth-child(2n) .infoblock-number,
.infoblock:nth-child(2n) i,
.infoblock:nth-child(2n) .infoblock-custom span {
    color: #5CE5DD;
}
.infoblock:nth-child(3n) .infoblock-number,
.infoblock:nth-child(3n) i,
.infoblock:nth-child(3n) .infoblock-custom span {
    color: #37D3CA;
}
.infoblock:nth-child(4n) .infoblock-number,
.infoblock:nth-child(4n) i,
.infoblock:nth-child(4n) .infoblock-custom span {
    color: #26BCB3;
}
.infoblock-title {
    color: #2C2C2C;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
}
.infoblock-title img {
    margin: 0 8px 0 0;
    vertical-align: middle;

}

/* ____ ADDITIONAL sections styles _____*/
.dashboard-additional {
    display: flex;
    flex-wrap: wrap;
}
.dashboard-additional h2 {
    color: #2C2C2C;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    margin: 30px 0;
}
.additional-block {
    flex-basis: 45%;
    margin: 0 25px;
    padding: 0 30px 30px;

    height: 510px;

    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.1);
}
.additional-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.healthcare-content {
    display: flex;
    justify-content: space-between;
}
.healthcare .img-holder {
    /* width: 328px; */
    flex-basis: 48%;
    text-align: center;
}
.healthcare-info {
    flex-basis: 48%;

    overflow-y: auto;
}
.healthcare-info ul {
    overflow-y: auto;
    max-height: 345px;
}
.healthcare-info ul li {
    margin: 0 0 15px;
}
.healthcare-info ul li::before {
        content: '';  
        
        display: inline-block;
        vertical-align: middle;
        width: 3px;
        height: 3px;
        margin: 0 8px 0 -8px;

        border: 1px solid #04969d;
        border-radius: 50%;
        background: #03d4e0;
      }
.graph-options {
    padding: 0;
}


/* _____ FOOTER styles _____ */

.footer {
    margin: 0 0 0 350px;
    padding: 25px 50px;

    color: #afb2b2;
    font-size: 11px;

    transition: all 0.5s;
}
.footer a {
    color: #616161;
    text-decoration: underline;
}

@media only screen and (max-width: 767px) {
    .sidebar {
        left: 0;
        right: 0;
        bottom: unset;
        z-index: 3;

        width: 100%;
    }
    .sidebar .user-link,
    .sidebar nav,
    .sidebar .sidebar-footer {
        display: none;
    }
    .sidebar-header {
        line-height: 0;
        padding: 10px;
    }
    .logo img {
        height: 30px;
    }
    .header,
    .main,
    .footer {
        margin: 0;
    }
    .header {
        margin: 50px 0 0 0;
        padding: 18px 0;
    }
    .header h1 {
        margin: 0 0 18px 15px;
        font-size: 24px;
    }
    .header button {
        position: fixed;
        top: 16px;
        left: 30px;
        z-index: 4;

        padding: 7px 12px;

        border-color: #fff;
    }
    .header button:after {
        width: 13px;

        border-color: #fff;
    }
    .dashboard-options {
        font-size: 10px;

        border-radius: 0;
        border-left: none;
        border-right: none;
    }
    .header .dashboard-options {
        justify-content: space-around;
        padding: 0;
        width: 100%;
    }
    .dashboard-options li a {
        padding: 5px 14px;
    }

    .main {
        padding: 0 15px;
    }
    .infoblock {
        margin: 0;
        padding: 0;
        border: none;

        min-width: unset;
        flex: 1 1 115px;
    }
    .infoblock-number {
        font-size: 56px;
    }
    .infoblock-title {
        font-size: 11px;
    }
    .infoblock li,
    .infoblock li span {
        font-size: 10px;
    }

    .additional-block {
        flex-basis: 100%;

        height: unset;
        margin: 0 0 30px 0;
        padding: 0 18px 20px;
    }
    .dashboard-additional h2 {
        margin: 25px 0;
        font-size: 16px;
    }
    .healthcare-content {
        flex-direction: column;
    }
    .healthcare-info {
        font-size: 15px;
    }
    .healthcare-info h3 {
        font-size: 16px;
    }
    .additional-header {
        flex-direction: column;
        align-items: flex-start;
    }
    .graph-options {
        margin: 0 0 30px -20px;
    }

    .footer {
        text-align: center;
    }
    .copyright {
        display: block;
    }

}